
nbproject/private/
build/
nbbuild/
dist/
nbdist/
genfiles.properties


*.class
*.jar
*.war


*.log


*.bak
*.swp
*.tmp
*~


.DS_Store
Thumbs.db
desktop.ini


.env
*.properties.local


logs/
tmp/
work/


/.idea/
*.iml
.vscode/
